<h4>Справка</h4> <a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=7382" target="_blank">Тема на форуме</a>
<div class="panel-group" id="accordion" style="width:98%">
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#general_help">Общие сведения</a>
      </div>
      <div class="panel-body collapse" id="general_help">
         <div style="width:98%">
            <p>Модуль предназначен для взаимодействия с интернет-центрами <strong>Keenetic</strong> с версией прошивки не ниже <strong>2.13</strong>.</p>
            <p><strong>Возможности модуля:</strong></p>
            <ul>
            <li>добавление роутера по IP адресу или KeenDNS;</li>
            <li>поддержка нескольких роутеров;</li>
            <li>определение доступности роутера;</li>
			<li>оповещение о новом ПО для роутера;</li>
            <li>получение списка подключенных к роутеру устройств;</li>
            <li>определение доступности подключенных к роутеру устройств</li>
			<li>просмотр информации о подключенном устройстве</li>
			<li>выполнение произвольного кода при изменении статуса подключенного устройства</li>
			<li>возможность включения "отслежвания" параметров устройства через автосоздаваемый класс</li>
			<li>определение активного на данный момент подключения к интернету (основное/резервное)</li>
            </ul>
			<p>Для взаимодействия с роутером используется REST API (/rci). Попробовать можно по адресу http://IP_роутера/a.</p>
           	<p>В модуле имеется цикл, который раз в указанное пользователем количество секунд опрашивает роутер, чтобы получить информацию о подключенных устройствах, сетях и пр.</p>
            <p>Для добавления интернет-центра нажмите кнопку +Добавить, придумайте название роутера, введите IP адрес или KeenDNS имя, имя пользователя и пароль. Можно сразу изменить период опроса роутера в секундах (по умолчанию 5, 0 - не опрашивать). После нажатия кнопки Добавить модуль подключится к роутеру и он появится в списке доступных устройств.
			Здесь же сразу можно установить количество секунд, через которое модуль будет отправлять роутеру команду перезагрузки после исчезновения доступа в интернет. 0 - не перезагружать</p>
			<p>В настройках (значок шестеренки) включить отладку DebMes</p>
         </div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#class_help">Класс для "отслеживания"</a>
      </div>
      <div class="panel-body collapse" id="class_help">
        <div style="width:900px">
		  <p>При установке модуль создает в Объектах свой класс Keenetic с свойствами и методом. В свою очередь, в классе Keenetic, при добавлении роутеров, создаются подклассы с их наименованием.</p>
		  <p>В информации об устройстве показывается статус отслеживания (по умолчанию выключен) и присутствует кнопка для его включения/выключения.</p>
		  <p>При включении "отслеживания" в классе с именем роутера создается объект с именем устройства и при каждом проходе цикла запускается метод объекта и передается информация для заполнения свойств объекта.</p>
		  <p>При отключении "отслеживания" объект с именем устройства удаляются.</p>
		  <p><strong>ВНИМАНИЕ!</strong> При включении "отслеживания" при каждом проходе цикла в базу происходит запись <strong>8</strong> свойств. И так на <strong>каждое</strong> отслеживаемое устройство.</p>
		  <strong>Свойства класса</strong><br>
		  <b>uptime</b> - время в сети (сек.);<br>
		  <b>rxbytes</b> - принято байт;<br>
		  <b>txbytes</b> - отправлено байт;<br>
		  <b>router</b> - к какому роутеру подключено устройство;<br>
		  <b>net</b> - SSID сети;<br>
		  <b>frequency</b> - 2.4 или 5 Ггц;<br>
		  <b>mode</b> - режим подключения;<br>
		  <b>rssi</b> - мощность сигнала.<br>
		  <br>
		  <strong>Метод класса track</strong><br>
		  <i>$this->setProperty("uptime", $params["UPTIME"]);<br>
		  $this->setProperty("rxbytes", $params["RXBYTES"]);<br>
		  $this->setProperty("txbytes", $params["TXBYTES"]);<br>
		  $this->setProperty("router", $params["ROUTER"]);<br>
		  $this->setProperty("net", $params["NET"]);<br>
		  $this->setProperty("frequency", $params["FREQ"]);<br>
		  $this->setProperty("mode", $params["WIFI_MODE"]);<br>
		  $this->setProperty("rssi", $params["RSSI"]);<br></i>
		  <p>Метод принимает данные из цикла и раскладывает их по свойствам. Можно отключить выполнение данного метода ("Вызывать родительский метод - никогда" в Объектах системы) и, опираясь на него, написать свой. Это сократит количество записей в базу.</p>
		</div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#inet_help">Статусы подключения к сети Интернет</a>
      </div>
      <div class="panel-body collapse" id="inet_help">
        <div style="width:900px">
			В устройстве <strong>"Интернет"</strong>, возможны следующие статусы: 
			<ul>
            <li><strong>0</strong> - интернет отсутствует.</li>
            <li><strong>1</strong> - доступ в интернет есть, активно основное подключение.</li>
            <li><strong>2</strong> - доступ в интернет есть, активно резервное подключение 1.</li>
			<li><strong>3</strong> - доступ в интернет есть, активно резервное подключение 2.</li>
			<li><strong>4</strong> - доступ в интернет есть, активно резервное подключение 3.</li>
            </ul>
		</div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#script_help">Скрипт, выполняемый при изменении статуса устройства</a>
      </div>
      <div class="panel-body collapse" id="script_help">
        <div style="width:900px">
		  <p>В поле скрипта уже заложено тело скрипта, а именно условия для определения статуса устройства. Туда вы можете вносить любые действия.</p>
		  <strong>Пример:</strong><br>
			<pre>if($status){ //если устройство появилось в сети
 $text = "в сети";
}
else{ //если устройство отключилось от сети
 $text = "не в сети";
}
say("Телефон ребенка " . $text, 1);</pre>
			<p>В скрипте можно использовать массив <strong>$device</strong>, полученный от роутера.</p>
			 <strong>Пример:</strong><br>
			<pre>if($status){ //если устройство появилось в сети
 $ip = $device['ip'];
 say('Устройство с адресом $ip в сети',1);
}
else{ //если устройство отключилось от сети
}</pre>
			Как правило, когда устройство не в сети, большая часть параметров либо равна <strong>нулю</strong>, либо вообще <strong>отсутствует</strong>. Например, IP адрес обычно становится 0.0.0.0.
		</div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#device_help">Описание массива $device</a>
      </div>
      <div class="panel-body collapse" id="device_help">
         <div style="width:900px">
            <strong>['mac'] => 68:72:c3:56:42:81</strong> - MAC адрес<br>
			<strong>['via'] => 68:72:c3:56:42:81</strong> - MAC адрес<br>
			<strong>['ip'] => 192.168.1.126</strong> - IP адрес<br>
			<strong>['hostname'] =></strong> - название устройства, переданное самим устройством<br>
			<strong>['name'] => TV55</strong> - название устройства на роутере<br>
			<strong>['interface'] =></strong> - подмассив с информацией об интерфейсе<br>
			&nbsp;<strong>(</strong><br>
			&nbsp;&nbsp;<strong>['id'] => Bridge0</strong> - бридж, к которому подключено устройство<br>
			&nbsp;&nbsp;<strong>['name'] => Home</strong> - название интерфейса<br>
			&nbsp;&nbsp;<strong>['description'] => HomeSet</strong> - название сети<br>
			&nbsp;<strong>)</strong><br>
			<strong>['dhcp'] =></strong> - подмассив с информацией о DHCP<br>
			&nbsp;<strong>(</strong><br>
			&nbsp;&nbsp;<strong>['static'] => 1</strong> - статический или случайный адрес<br>
			&nbsp;<strong>)</strong><br>
			<strong>['registered'] => 1</strong> - зарегистрировано ли устройство на роутере<br>
			<strong>['access'] => permit</strong> - разрешено ли подключаться к роутеру<br>
			<strong>['schedule'] =></strong> - расписание для устройства<br>
			<strong>['service-class'] => 3</strong> - класс обслуживания<br>
			<strong>['active'] => 1</strong> - активно ли устройство<br>
			<strong>['rxbytes'] => 4788</strong> - принято байт<br>
            <strong>['txbytes'] => 0</strong> - отправлено байт<br>
            <strong>['first-seen'] => 420384</strong> - время после первого появления<br>
            <strong>['last-seen'] => 0</strong> - время после последнего появления<br>
            <strong>['link'] => up</strong> - активность порта<br>
            <strong>['ssid'] => HomeNet</strong> - SSID сети<br>
            <strong>['ap'] => WifiMaster0/AccessPoint0</strong> - к какой точке доступа подключен<br>
            <strong>['authenticated'] => 1</strong><br>
            <strong>['txrate'] => 65</strong> - скорость подключения<br>
            <strong>['uptime'] => 404202</strong> - аптайм<br>
            <strong>['ht'] => 20</strong> - частота<br>
            <strong>['mode'] => 11n</strong> - режим подключения<br>
            <strong>['gi'] => 800</strong><br>
            <strong>['rssi'] => -45</strong> - уровень сигнала<br>
            <strong>['mcs'] => 7</strong><br>
            <strong>['txss'] => 1</strong> - MIMO 1х1 или 2х2<br>
            <strong>['ebf'] =></strong><br>
            <strong>['security'] => wpa2-psk</strong> - тип безопасности<br>
			<strong>['traffic-shape'] =></strong> - подмассив с информацией об ограничении трафика<br>
			&nbsp;<strong>(</strong><br>
			&nbsp;&nbsp;<strong>['rx'] => 0</strong> - принято<br>
			&nbsp;&nbsp;<strong>['tx'] => 0</strong> - отправлено<br>
			&nbsp;&nbsp;<strong>['mode'] => mac</strong> - режим<br>
			&nbsp;&nbsp;<strong>['schedule'] =></strong> - расписание<br>
			&nbsp;<strong>)</strong><br>
			<strong>['dns-filter'] =></strong> подмассив с информацией о dns-фильтре<br>
			&nbsp;<strong>(</strong><br>
			&nbsp;&nbsp;<strong>['engine'] => skydns</strong> - оспользуемый фильтр<br>
			&nbsp;&nbsp;<strong>['profile'] => 18498802</strong> - профиль<br>
			&nbsp;<strong>)</strong><br>
			<br>
			<p>Какое-то параметры могут отсутствовать или присутствовать при подключении через LAN. Также, при подключении через другие устройства, объединенные в Wi-Fi систему, параметры подключения Wi-Fi будут передаваться в подмассиве <strong>[mws]</strong>.</p>
			<p>Аналогичный массив передается привязанному скрипту через <strong>$params</strong>.</p>
         </div>
      </div>
   </div>
   <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#functions_help">Функции</a>
      </div>
      <div class="panel-body collapse" id="functions_help">
        <div style="width:900px">
		  <p>На добавленном к модулю роутере можно выполнять <b>произвольные команды</b> с помощью следующего кода:</p>
			<pre>include_once(DIR_MODULES . "keenetic/keenetic.class.php");
$keenetic_module = new keenetic();
$keenetic_module->command('IP роутера', 'Команда', 1);</pre>
			<p>Третий параметр функции (по умолчанию - false) указывает, сохранять ли настройки. Это соответствует команде cli "system configuration save".</p>
			<p>Функция возвращает ответ в виде ассоциативного массива</p>
			<p>Команды отправляются в виде JSON объекта, содержащего команду, соответственно справочнику cli роутеров Keenetic. Например, команда "show ip hotspot" будет выглядеть следующим образом: "{"show": {"ip": {"hotspot": {}}}}"</p>
			<p>Команды удобно тестировать в веб-интерфейсе Кинетика по адресу http://IP_роутера/a</p>
			<br>
			<p>Можно <b>перезагружать</b> роутер с помощью следующего кода:</p>
			<pre>include_once(DIR_MODULES . "keenetic/keenetic.class.php");
$keenetic_module = new keenetic();
$keenetic_module->reboot('IP роутера');</pre>
			<p>Также можно <b>отправлять "магический" пакет</b> для включения устройств с помощью wake-on-lan:</p>
			<pre>include_once(DIR_MODULES . "keenetic/keenetic.class.php");
$keenetic_module = new keenetic();
$keenetic_module->wol('имя/mac устройства');</pre>
<p>Если подключено несколько роутеров и на них присутствуют устройства с одинаковыми именами, при указании <b>имени</b> в функции, пакет будет отправлен на <b>оба</b> устройства. Для разделения необходимо использовать MAC-адрес.</p>
		</div>
      </div>
	</div>
	<div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#api_help">Обращение к роутеру по API с помощью кода</a>
      </div>
      <div class="panel-body collapse" id="api_help">
        <div style="width:900px">
			<p>
				Параметры:
				<ul>
				<li>id &mdash; идентификатор роутера (можно использовать IP-адрес)</li>
				<li>path &mdash; путь к исполняемой команде</li>
				<li>data &mdash; дополнительные параметры команды (в формате JSON)</li>
			</ul>
			</p>
			<p>В случае, если необходимо получить результат выполнения команды:</p>
			<pre>include_once(DIR_MODULES.'keenetic/keenetic.class.php');
$keenetic = new keenetic();
$result = $keenetic->api(array('id'=>1,'path'=>'show/interface','data'=>''));</pre>
			
			<p>Если в обработке результата нет необходиомости, то можно использовать более короткую конструкцию:</p>
			<pre>callAPI('/api/module/keenetic','GET',array('id'=>[#ID#],'path'=>'show/interface','data'=>''));</pre>
			Пример перезагрузки роутера:
			<pre>callAPI('/api/module/keenetic','GET',array('id'=>[#ID#],'path'=>'system/reboot','data'=>'{}'));</pre>
			или
			<pre>callAPI('/api/module/keenetic','GET',array('id'=>'[#ADDRESS#]','path'=>'system/reboot','data'=>'{}'));</pre>
		</div>
      </div>
	</div>
    <div class="panel panel-info">
      <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" href="#dns_help">Управление DNS</a>
      </div>
      <div class="panel-body collapse" id="dns_help">
        <div style="width:900px">
		  <p>Используется для назначения IP адресам доменных имен.</p>
		   <p>В связи с тем, что настройка данного функционала имеется только в командной строке, решил вывести его в модуль.</p>
		  <p>Работает <strong>только внутри</strong> локальной сети.</p>
		</div>
      </div>
   </div>
</div>
<br>
<div>
   <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_STRING_BACK#></a>
</div>
