<!-- Информация об устройстве -->
		[#if ERR_CODE#]
		  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div> 
		  <script>
			$(window).load(function() {
				[#if SETTINGS_CODEEDITOR_SHOWERROR == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
					find = $('div pre.CodeMirror-line:eq([#ERR_LINE#])');
					find.attr('id', 'errorline_[#ERR_LINE#]');
				
					var newElems = $("<div class='hintError' style='border-top: 1px solid red;font-weight: bold;font-style: italic;'><#LANG_STRING_ERROR#> -> [#ERRORS#]</div>");
					$('div pre.CodeMirror-line:eq([#ERR_LINE#])').append(newElems);
				[#endif#]
				
				[#if SETTINGS_CODEEDITOR_UPTOLINE == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
					location.href='#errorline_[#ERR_LINE#]';
				[#endif#]				
			});
			</script>
		[#endif ERR#]
<div>
<a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_keenetic_routers&id=<#ROUTER_ID#>&tab=data"class="btn btn-default "><i class="glyphicon glyphicon-backward"></i> Назад</a>
<br>
<div class="text-left col-lg-4 text-primary""><h1>[#TITLE#]</h1></div>
<div class="clearfix hidden-xs hidden-sm"></div>
</div>
<div class="col-lg-6">
[#if HOSTNAME!=""#]
	<label class="col-lg-4 control-label" for="inputTitle">Имя хоста: </label>
	<div class="col-lg-8">[#HOSTNAME#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
[#endif HOSTNAME#]
	<label class="col-lg-4 control-label" for="inputTitle">Аптайм: </label>
	<div class="col-lg-8">[#UPTIME#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
[#if NAME!=""#]
	<label class="col-lg-4 control-label" for="inputTitle">Название: </label>
	<div class="col-lg-8">[#NAME#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	<label class="col-lg-4 control-label" for="inputTitle">Адрес: </label>
	<div class="col-lg-8">[#ADDRESS#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
[#else#]
	<label class="col-lg-4 control-label" for="inputTitle">Принято, мб: </label>
	<div class="col-lg-8">[#RXBYTES#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	<label class="col-lg-4 control-label" for="inputTitle">Отправлено, мб: </label>
	<div class="col-lg-8">[#TXBYTES#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	[#if ROUTER!=""#]
	<div class="text-left"><h4>Wi-Fi</h4></div>
	<label class="col-lg-4 control-label" for="inputTitle">Подключено через: </label>
	<div class="col-lg-8">[#ROUTER#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	<label class="col-lg-4 control-label" for="inputTitle">Режим: </label>
	<div class="col-lg-8">[#WIFI_MODE#]</div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	<label class="col-lg-4 control-label" for="inputTitle">Уровень сигнала (rssi): </label>
	<div class="col-lg-8">[#if RSSI>-70#]<span class="label label-success">
							[#else#][#if RSSI>-80#]<span class="label label-warning">
									[#else#][#if RSSI>-90#]<span class="label label-danger">
											[#else#]<span class="label label-default">
											[#endif#]
									[#endif#]
							[#endif RSSI_LEVEL#][#RSSI#]</span></div>
	<div class="clearfix hidden-xs hidden-sm"></div>
	[#endif ROUTER#]
[#endif NAME#]
	<div class="text-left"><h4>Отслеживание</h4></div>
	<div class="col-lg-2"><b>[#if TRACK==1#]<font color="red">ВКЛЮЧЕНО</font>[#else#]<font color="green">ОТКЛЮЧЕНО</font>[#endif TRACK#]</b></div>
	<a href="?data_source=<#DATA_SOURCE#>&view_mode=info_keenetic_devices&id=[#ID#]&track_device=[#if TRACK==1#]2[#else#]1[#endif TRACK#]" class="btn btn-default" title="Информация об устройстве">[#if TRACK==1#]Отключить[#else#]Включить[#endif TRACK#]</i></a>
	<div class="clearfix hidden-xs hidden-sm"></div>
[#if REGISTERED==1#]
	<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
		<fieldset>
			<br><br>
			<div class="form-group" style="margin-right: 0px;margin-left: 0px;">
				<label class="col-lg-0 col-md-1" style="max-width: 240px;float: left;padding: 5px 10px 0px 0px;text-align: right;"><#LANG_CODE#><#LANG_HCB#>code<#LANG_HCE#></label>
				<div class="col-lg-10 col-md-8">
					[#module name="blockly_code" system_name="keenetic<#ID#>" code_field="code" action=""#]
					[#if ERRORS#]
						<div id="error_noty" style="margin-top: 10px;color: #ff574b;border: 1px solid;border-radius: 5px;padding: 5px;background: #ffffff;width: 100%;">
							<b><#LANG_CODEEDITOR_ERROR_IN_CODE#> -></b> [#ERRORS#] в строке [#ERR_LINE#]
							<div><#LANG_CODEEDITOR_ERROR_RESTORE_CODE#></div>
						</div>
						<textarea id="error_old_code" style="display:none;">[#ERR_OLD_CODE#]</textarea>
					[#endif ERRORS#]
					<div class="visible-xs visible-sm" id="mobileIndicator"></div>
					<div id="code_area" style="margin-top: 10px;">
						<div id="autosave_code_in_time_div" style="color: gray;font-style: italic;font-size: 1rem;display:none;margin-left: 5px;margin-bottom: 4px;">
							<i class="glyphicon glyphicon-floppy-saved" style="vertical-align: top;"></i> <#LANG_CODEEDITOR_AUTOSAVE_CODE#> <span id="autosave_code_in_time"></span>. <#LANG_CODEEDITOR_AUTOSAVE_CODE_HELP#>
						</div>
						<textarea name="code" id="code" rows=30 cols=100 class="form-control">[#SCRIPT#]</textarea>
					</div>
				</div>
			</div>
			<div class="form-group" style="margin-right: 0px;margin-left: 0px;">
				<div class="col-lg-offset-2 col-lg-10">
					<button class="btn btn-success" type="submit" name="subm" value="<#LANG_SUBMIT#>"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> <#LANG_SUBMIT#></button>
					<a href="javascript://" onclick="ajaxAutosave('checkcode');" id="checkCodeBtn" class="btn btn-info"><i class="glyphicon glyphicon-share" aria-hidden="true"></i> <#LANG_CODEEDITOR_CHECK_ON_ERROR_BTN#></a>
					<!-- <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> <#LANG_CANCEL#></a> -->
					<input type="hidden" name="id" value="<#ID#>">
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
					<input type="hidden" name="mode" value="update">
					<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
					<input type="hidden" name="tab" value="<#TAB#>">
				</div>
			</div>
		</fieldset>
	</form>
[#endif REGISTERED#]
</div>

<div class="col-lg-6">
	[#if LOG!=""#]
    <label class="col-lg-1 control-label" for="inputTitle">Лог: </label>
	<div class="clearfix hidden-xs hidden-sm"></div>
    <div class="col-lg-12">[#LOG#]</div>
	[#endif if LOG#]
</div>
