
<p>
    <b>Обращения к роутеру по API с помощью кода.</b>
</p>
<p>
    Параметры:
    <ul>
    <li>id &mdash; идентификатор роутера (можно использовать IP-адрес)</li>
    <li>path &mdash; путь к исполняемой команде</li>
    <li>data &mdash; дополнительные параметры команды (в формате JSON)</li>
</ul>
</p>
<p>В случае, если необходимо получить результат выполнения команды:</p>
<pre>include_once(DIR_MODULES.'keenetic/keenetic.class.php');
$keenetic = new keenetic();
$result = $keenetic->api(array('id'=>1,'path'=>'show/interface','data'=>''));</pre>

<p>Если в обработке результата нет необходиомости, то можно использовать более короткую конструкцию:</p>
<pre>callAPI('/api/module/keenetic','GET',array('id'=>[#ID#],'path'=>'show/interface','data'=>''));</pre>
Пример перезагрузки роутера:
<pre>callAPI('/api/module/keenetic','GET',array('id'=>[#ID#],'path'=>'system/reboot','data'=>'{}'));</pre>
или
<pre>callAPI('/api/module/keenetic','GET',array('id'=>'[#ADDRESS#]','path'=>'system/reboot','data'=>'{}'));</pre>